@charset 'utf-8';
@import url('../css/common.css');
@import url('../css/keyframe.css');
/* only for about.html */

/* header */
mark span{
  color: rgba(240, 235, 243, 1);
}
main{
  position: relative;
  padding-top: 6rem;
}
main section{
  position: absolute;
  top: -6rem;
  width: 100%;
  height: calc(100vh + 6rem);
  padding-top: 21rem;
  background: white;
  border-radius: 5rem 5rem 0 0;
  z-index: 9;
}
/* main */
.profile{
  position: relative;
  height: 100vh;
  background: linear-gradient(45deg, rgb(9, 3, 9), rgb(29, 12, 42));
}
.profile .container{
  display: grid;
  grid-template:'g-p g-1 g-2 g-2'
                'g-p g-1 g-3 g-4';
  grid-template-columns: 32rem 47rem 27rem 23rem;
  grid-template-rows: 33rem 33rem;
  column-gap: 3rem;
  row-gap: 2.5rem;

  line-height: 1.6;
  color: rgba(200, 200, 200, 1);
  z-index: 0;
  transition: all .3s;
}
/* main profile */
.profile-visual{
  grid-area: g-p;
  padding-top: 3rem;
}
.profile-img{
  position: relative;
  width: 25rem;
  height: 25rem;
  background: aliceblue;
  background: url('../images/about/me_img.jpg') no-repeat center;
  background-size: 110%;
  border-radius: 50%;
}
.profile-img::before{
  content: '';
  position: absolute;
  top: 1em;
  left: -1em;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 154, 52, 1);
  /* container z-index = 0 */
  z-index: -1;
}
.profile-basic{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 35.5rem);
  padding: 1.5em 0 0 0;
}
.profile-basic h3{
  padding: 1rem 0;
  font-size: 1.8rem;
  color: rgba(255, 154, 52, 1);
}
.profile-basic p, address{
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: .5;
}
.profile-basic p b{
  font-family: none;
}
.profile-basic > strong{
  display: inline-block;
  padding: 1.5rem 0 .5em 0;
  font-size: 1.6rem;
}
.profile-visual .job >li{
  padding-top: .5rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
}
.photographer{
  padding-top: 2em;
  font-size: 1.2rem;
  opacity: .5;
}
/* basic information */
.profile > .container 
> .profile-visual~div h4{
  font-size: 1.8rem;
  color: rgba(108, 71, 199, 1);
}
.profile > .container 
> .profile-visual~div{
  padding: 3rem 0 1rem 3rem ;
  background: rgba(34, 27, 39, 1);
}
/* -------------- */
.profile > .container > .profile-visual~div p{
  font-size: 1.4rem;
  line-height: 1.8;
}
.profile-skills{
  position: relative;
  grid-area: g-1;
}
.profile-skills h5{
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, .2);
}
.profile-skills ul li{
  font-weight: 100;
}
.skill-detail{
  width: 90%;
  height: 25%;
  height: auto;
  padding: 1.5em 1em 1em 1em;
  margin: 2rem 0 1rem 0;
  /* background: rgba(255, 255, 255, .2); */
  background: rgba(108, 71, 199, 1);
  background: rgba(200, 200, 200, 1);
}
.skill-detail h5{
  font-weight: 700;
  color: rgba(255, 154, 52, 1);
  color: rgba(34, 27, 39, .5);
}
.skill-detail p{
  font-weight: 600;
  color: rgba(34, 27, 39, 1);
}

.skill-develope p{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, .2);
}
.skill-design li,
.skill-develope li{
  width: 90%;
  padding: .5em 1em;
  margin: 5px 0;
  line-height: 1;
  font-weight: 600;
  color: black;
  opacity: .9;
  /* background: rgba(0, 0, 0, 1); */
}
.skill-design li:hover,
.skill-develope li:hover{
  transform: translateY(-3px);
  box-shadow: 0 3px 3px black;
  transition: transform .3s;
  opacity: 1;

}
/* skill design */
.skill-design li:nth-child(1){
  background: linear-gradient(to left, #FF9A00 30%, #300 30%);
  background: #FF9A00;
}
.skill-design li:nth-child(2){
  background: linear-gradient(to left, #FD61F4 35%, #4E0039 35%);
  background: #FD61F4;
}
.skill-design li:nth-child(3){
  background: linear-gradient(to left, #31A8FF 35%, #001E36 35%);
  background: #31A8FF;
}

/* skill develope */
.skill-develope li:nth-child(1){
  background: linear-gradient(135deg, #F1662B 35%, #34A9DC 35%);
}
.skill-develope li:nth-child(2){
  background: #FFD93A;
}
.skill-develope li:nth-child(3){
  background: linear-gradient(135deg, #376F9F 35%, #FFD343 35%);
}
.skill-develope li:nth-child(5){
  background: linear-gradient(135deg, #61DBFB 35%, #FFF 35%);
}
.skill-develope li:nth-child(4){
  background: #2C638F;
}

.profile-edu{
  grid-area: g-2;
}

.profile-study{
  grid-area: g-3;
}
.profile-study p{
  font-size: 1.4rem;
  padding: 1rem 0;
  color: rgba(255, 255, 255, .5);
}
.study-sites a{
  position: relative;
  text-decoration: underline;
  color: rgba(200, 200, 200, 1);
}
.study-sites a::after{
  content: '';
  position: absolute;
  top: .3em;
  right: -2em;
  display: block;
  width: 1rem;
  height: 1rem;
  background: rgba(200, 200, 200, .5);
}
.study-sites a:hover::after{
  background: rgba(200, 200, 200, 1);
}

.study-sites li:last-child a::after{
  display: none;
}
.study-sites li:last-child a{
  display: inline-block;
  margin-top: 1em;

  color: rgba(108, 71, 199, 1);
}


.profile-stats{
  grid-area: g-4;
}
/* ----------------------------------------------- */
.personal{
  /* width: 100%;
  height: 100vh;
  height: calc(100vh + 6rem);
  background: white;
  border-radius: 5rem 5rem 0 0;
  z-index: 9999999; */
}
.personal .container{
  display: grid;
  grid-template:'g-p g-1 g-2';
  grid-template-columns: 32rem 47rem 53rem;
  column-gap: 3rem;
  row-gap: 2.5rem;
  height: 73rem;
}
.persoanl-visual{
  grid-area: g-p;
  background: url('../images/temp_visual.png')no-repeat bottom;
  background-size: 150%;
}
.persoanl-visual h3~h4{
  padding: 1em 0;
  color: rgba(108, 71, 199, 1);
}
.persoanl-visual p{
  line-height: 1.4;
}
.persoanl-visual strong{
  display: inline-block;
  padding-top: 1em;
  color: rgba(255, 154, 52, 1);
}
.sinrilab{
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: url('../images/temp_profile.png') no-repeat center;
  background-size: 150%;
}
.link-another{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 1em 1em;
  margin: .5em 0;
  background: rgba(235, 232, 238, 1);
}
.link-another p{
  font-size: 1.2rem;
  color: rgba(125, 119, 129, 1);
}
.personal-contents > a:hover{
  filter: brightness(.8);
  transition: filter .3s;
}
.personal-contents .--left{
  grid-area: g-1;
}
.personal-contents .--right{
  grid-area: g-2;
}
.personal-contents{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.personal-contents img{
  object-fit: contain;
}
