@charset 'utf-8';
@import url('../css/font/nanumsqure.css');

/* 
  common css here
  - normalize default css
  - especially header
  - common layout
*/

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline-style: none;
}
a{
  text-decoration: none;
  color: blueviolet;
}
mark{
  background-color: rgba(0, 0, 0, 0);
}
em,
address{
  font-style: normal;
}
img{
  vertical-align: middle;
  border: 0;
}
input,
textarea,
button{
  border: none;
  background: none;
}
ul,li{
  list-style: none;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  font-family: consolas, 'NanumSquare';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  color: #221b27;
  /* user-select: none; */
}
/* layout */

.wrap{
  position: relative;
  width: 100%;
  transition: transform .3s;
}
.container{
  position: relative;
  width: 144rem;
  margin: 0 auto;
}

/* header */
header{
  position: absolute;
  width: 100%;
  z-index: 9;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.trigger-toggle{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 40px;
  cursor: pointer;
}
.trigger-toggle
.toggle-rod{
  display: block;
  width: 100%;
  height: .5em;
  background: rgba(240, 235, 243, 1);
}
.trigger-toggle
.toggle-rod:nth-child(1){
  align-self: flex-end;
  transform-origin: right;
  transform: scaleX(70%);
}
.trigger-toggle
.toggle-rod:nth-child(2){
  transform: scaleX(80%);
}
.trigger-toggle
.toggle-rod:nth-child(3){
  transform-origin: left;
  transform: scaleX(70%);
}
.trigger-toggle:hover
.toggle-rod{
  transition: transform .3s;
  transform: scaleX(100%);
}
/* .trigger-toggle:hover
~nav{
  display: block;
}
nav:hover
~.trigger-toggle
.toggle-rod{
  transform: scaleX(100%);
}
nav:hover{
  display: block;
} */
nav{
  display: none;
  position: absolute;
  top: 6rem;
  right: 0;
  width: 22rem;
  height: 30rem;
  text-align: right;
  background: rgba(240, 235, 243, 1);
}
nav > ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2em 1em;
}
nav > ul > li:nth-child(4){
  margin: 1em 0;
}
nav > ul > li a{
  position: relative;
  display: inline-block;
  padding: .5em 0;
  color: rgba(15, 6, 16, 1);
}
nav > ul li a::after{
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  height: 1em;
  background: rgba(129, 80, 212, .5);
  transform-origin: right;
  transform: scaleX(0);
}
nav > ul li a:hover::after{
  animation: nav-ani .3s ease; 
  /* animation-duration: .3s; */
  animation-fill-mode: forwards;
}
/* main visual */

section{
  padding-top: 12rem;
  height: 100vh;
  min-height: 50rem;
}
.identity-box{
  width: 10rem;
  height: 10.5rem;
  margin-left: 1rem;
}
/* icon set */
.icon-identity{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}