@charset 'utf-8';
@import url('common.css');
@import url('keyframe.css');

.welcome{
  padding-top: 0;
  height: calc(100vh - 6rem);
  height: 100vh;
  background: linear-gradient(45deg, rgb(9, 3, 9), rgb(29, 12, 42));
}
.welcome .container{
  display: grid;
  grid-template-rows: 10.5rem 12rem;
  row-gap: 7rem;
  padding-top: 15rem;
  color: white;
}
mark span{
  color: rgba(240, 235, 243, 1);
}
.welcome h1{
  position: relative;
  display: inline-block;
  font-size: 9.5rem;
  line-height: 1.2;
  text-shadow: .7rem 0 0px rgba(255, 154, 52, 1);
  color: rgba(108, 71, 199, 1);
}
h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 52, 1);
  transform-origin: right;
  transform: translateX(-100%) scaleX(100%);
  animation-name: welcome-ani;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
  transition: transform 1s;
}
.summary > *{
  padding-bottom: 1rem;
}
.summary h5{
  font-size: 1.8rem;
  font-weight: 600;
}
.summary p{
  font-weight: 100;
  line-height: 1.4;
  color: rgba(255, 255, 255, .5);
}
/* main */
main section{
  position: absolute;
  top: -6rem;
  width: 100%;
  height: calc(100vh + 6rem);
  padding-top: 18rem;
  background: white;
  border-radius: 5rem 5rem 0 0;
  z-index: 9;
}
/* portfolios */
.portfolios .container{
  display: grid;
  grid-template:'g-p g-1 g-3'
                'g-p g-2 g-3';
  grid-template-columns: 32rem 47rem 53rem;
  grid-template-rows: 37.5rem 41.5rem;
  grid-template-rows: 33rem 33rem;

  column-gap: 3rem;
  row-gap: 3rem;
  height: 82rem;
}
/* portfolio links */
.portfolios-link{
  grid-area: g-p;
}
.portfolios-link > div h4{
  padding-bottom: 4rem;
  font-size: 2.6rem;
  font-weight: bold;
  color: rgba(34, 27, 39, 1);
}
.portfolios-link > div button{
  position: relative;
  font-family: consolas, 'consolasD';
  font-size: 1.8rem;
  font-weight: 100;
  padding-bottom: .5em;
  color: rgba(125, 119, 129, 1);
  cursor: pointer;
  text-decoration: underline;
}
.portfolios-link > div button:hover{
  transition: all .3s;
}

.portfolios-list{
  padding-bottom: 6rem;
}
/* portfolios explain */
.portfolios-explain{
  grid-area: g-1;
  height: 25rem;
  padding: 3rem 3rem;
  background: rgba(125, 119, 129, .1);
  animation: slide-up .3s ease-in; 
}
.portfolios-explain span{
  font-size: 1.4rem;
  font-weight: 100;
}
.portfolios-explain h5{
  padding: 1em 0;

  font-size: 2.6rem;
  color: rgba(108, 71, 199, 1);
  text-shadow: 3px 0 0 rgba(255, 154, 52, 1);
}
.portfolios-explain h4{
  font-size: 2.0rem;
}
.portfolios-explain a{
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.4;
  padding: 1em 0 1em 0;
  margin-right: 1em;
}

.skill-set{
  padding-bottom: 1em;
}
.skill-set li{
  display: inline-block;
  font-weight: 300;
  color: rgba(240, 235, 243, 1);
}
.portfolios-feedback{
  grid-area: g-2;
}
.portfolios-visual{
  grid-area: g-3;
  
}
.portfolios-visual img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  filter: opacity(1) brightness(.9);
  animation: slide-up .3s ease-in; 

}