@charset 'utf-8';
@media screen and (max-width:1850px) {
  aside{
    display: none;
  }
}
@media screen and (max-width:1695px) {
  body{
    min-width: 100%;
  }
  section{
    min-width: 100%;
    height: auto;
  }
  .container{
    width: 90%;
  }
  .profile{
    height: auto;
    padding-bottom: 8rem;
  }
  /* portfolios */
  .portfolios .container{
    grid-template:'g-p g-1'
                  'g-p g-3';
    grid-template-columns: 30% 60%;
    grid-template-rows: 30% 60%;
    row-gap: 1rem;
  }
}
@media screen and (max-width: 1355px) {
  .story-top .container,
  .story-bottom .container,
  .contact .container{
    height: auto;
  }
  .contact .container{
    display: flex;
  }
  main .container{
    grid-template-columns: 100%;
    /* grid-template-rows: 50% 50%; */
  }
  .story-top-imgs img{
    width: 100%;
  }
  .story-box{
    width: 100%;
  }
  .contact-img{
    width: 50%;
    height: 65rem;
  }

  .profile .container{
    grid-template:'g-p g-1 g-1'
                  'g-2 g-3 g-4';
    grid-template-columns: 30% 35% 35%;
    row-gap: 1.5rem;
    column-gap: 1rem;
  }
  .personal .container{
    grid-template:'g-p g-1'
                  'g-p g-2';
    grid-template-columns: 30% 60%;
    grid-template-rows: 75% 40%;
    height: auto;
  }
}

@media screen and (max-width: 890px) {
  /* main  */
  .welcome h1, h2{
    font-size: 6.5rem;
  }
  .story-bottom-imgs{
    width: 100%;
    height: 50rem;
  }
  .contact-img{
    display: none;
    position: absolute;
    mix-blend-mode: hard-light;
  }
   /*profile  */
  .profile > .container 
  > .profile-visual~div{
    padding: 1.5rem 0 1.5rem 1.5rem ;
  }
  /* portfolio */
  .profile-img{
    width: 20rem;
    height: 20rem;
  }
  .profile .container{
    grid-template:'g-p g-1'
                  'g-2 g-2'
                  'g-4 g-3';
    grid-template-columns: 40% 60%;
  }
  .personal .container{
    grid-template-rows: 80% 40%;
  }
}

@media screen and (max-width: 545px) {

  .persoanl-visual {
    background-size: 100%;
  }
  /* profile */
  .profile .container{
    grid-template:'g-p g-p'
                  'g-1 g-1'
                  'g-2 g-2'
                  'g-3 g-4';
    row-gap: 1.5rem;
    column-gap: 1rem;
  }
  .personal .container{
    grid-template:'g-p'
                  'g-1'
                  'g-2';
    grid-template-rows: 75% 75% 40%;
    height: auto;
  }
  .profile > .container 
  > .profile-visual~div{
    padding: 1.5rem 0 1.5rem 1.5rem ;
    background: rgba(34, 27, 39, 1);
  }

  /* portfolio */
  .portfolios .container{
    grid-template:'g-1 g-1'
                  'g-p g-3';
  }
  .portfolios-visual img{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 130%;
    object-fit: cover;
    object-position: top;
    filter: opacity(1) contrast(.1) brightness(1.8);
    animation: slide-up .3s ease-in; 
    z-index: -1;
  
  }
}
@media screen and (max-width: 325px) {
  .welcome h1, h2{
    font-size: 5.5rem;
  }

}
@media (max-height: 900px), screen{

}

