.header {
  position: relative;
  width: 100%;
  height: var(--header-height);
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: inherit;
  padding: 0 3.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: $layerFix;
}

// ----------------------------------------------------------------------------------------

.header-title {
  .title {
    font-family: 'Courier New', Courier, monospace;
    font-size: $fontSize-20;
    font-weight: $fontBold;
    color: $white;

    @include device_desktop {
      &:hover {
        opacity: 0.8;
      }
    }

    @include device_mobile {
      width: 100px;
    }
  }
}

// ----------------------------------------------------------------------------------------

.header-theme {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  pointer-events: none;

 .btn-switch-theme{
    pointer-events: visible;
 } 
}

// ----------------------------------------------------------------------------------------

.btn-drawer-trigger {
  position: relative;
}

.drawer-container {
  position: relative;
  visibility: hidden;

  @at-root [aria-expanded='true'] & {
    visibility: visible;
  }
}

.drawer-wrap {

  @include device_desktop {
    position: absolute;
    right: 0;
    top: 22px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3.4rem;
  
    width: 22rem;
    padding: 2.4rem 1.7rem;
    text-align: left;
  
    background-color: $white102;
    border: 1px solid $white105;
    border-radius: 4px;
  
    backdrop-filter: blur(2px);
    color: $white;
  }

  @include device_mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    width: 100vw;
    height: 100vh;
    padding-top: $HEADER_height;
    padding:  $HEADER_height 1rem 1.6rem 1rem;
    
    z-index: -1;
    
    background-color: rgba(46, 50, 56, 0.8);
    backdrop-filter: blur(6px);
  }
}

// ----------------------------------------------------------------------------------------

.drawer-container .btn {
  color: $white;
  
  @include device_desktop {
    font-size: $fontSize-14;
    font-weight: $fontRegular;
    
    &:hover {
      text-decoration: underline;
    }
    
    &[aria-disabled] {
      opacity: 0.5;
      cursor: initial;
      pointer-events: none;
      user-select: none;
    }
  }

  @include device_mobile {
    font-size: $fontSize-18;

    justify-content: flex-end;
    width: 100%;
    padding-right: 5.2rem;
    height: 7.2rem;
    background: linear-gradient(270deg, rgba(244, 248, 255, 0.2) 0%, rgba(244, 248, 255, 0) 100%);
    border-radius: 2rem;
    border: 1px solid transparent;
    
    &:active {
      border-color:rgba(244, 248, 255, 0.3);     
    }
  }
}

// ----------------------------------------------------------------------------------------

.nav-pages {
  @include device_desktop {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    h3 {
      font-size: $fontSize-16;
      color: $white;
    }
  }

  @include device_mobile {
    h3 {
      display: none;
    }
  }
}

.pages-list {
  @include device_desktop {
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    li {
      display: inline-flex;
    }
  }

  @include device_mobile {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    align-items: flex-end;

    li {
      width: 100%;
      // transition: width 0.1s;
      // width: 50%;
    }
  }
}

// ----------------------------------------------------------------------------------------

.nav-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .font-bold {
    font-size: $fontSize-16;
    opacity: 0.8;
  }

  @include device_mobile {
    font-size: $fontSize-14;
    margin: 5.6rem 0;
    padding: 0 5.2rem;
    flex-direction: row-reverse;
    color: $white;
  }
}