.header {
  position: relative;
  width: 100%;
  height: var(--header-height);
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: inherit;
  padding: 0 3.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: $layerFix;
}

// ----------------------------------------------------------------------------------------

.header-title {
  // width: 40%;

  .title {
    font-family: 'Courier New', Courier, monospace;
    font-size: $fontSize-20;
    color: $white;
  }
}

@include 모바일 {
  .header-title .title {
    width: 100px;
  }
}

// ----------------------------------------------------------------------------------------

.header-theme {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  pointer-events: none;

 .btn-switch-theme{
    pointer-events: visible;
 } 
}

// ----------------------------------------------------------------------------------------

.header-drawer {
}

// ----------------------------------------------------------------------------------------

// state
.header-drawer {
  .drawer-container {
    position: relative;
    visibility: hidden;
  }

  &[aria-expanded='true'] {
    .drawer-container {
      visibility: visible;
    }
  }
}

.btn-drawer-trigger {
  position: relative;
}

.drawer-wrap {
  position: absolute;
  right: 0;
  top: 22px;
}

@include device("desktop") {
  .drawer-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3.4rem;
  
    width: 22rem;
    padding: 2.4rem 1.7rem;
    text-align: left;
  
    background-color: $white102;
    border: 1px solid $white105;
    border-radius: 4px;
  
    backdrop-filter: blur(2px);
    color: $white;
  }
}

@include device("mobile") {
  .drawer-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: max-content;
    background-color: $white;
    z-index: -1;
    margin-top: $HEADER_height;
    padding: 1em;
  }
}

// ----------------------------------------------------------------------------------------

@mixin navBtnStyle {
  text-decoration: underline;
  font-size: $fontSize-14;
  color: $white;
  font-weight: $fontRegular;

  &[aria-disabled] {
    opacity: 0.5;
    cursor: initial;
  }
}

// ----------------------------------------------------------------------------------------

@include device("desktop") {
  .nav-pages {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    h3 {
      font-size: $fontSize-16;
      color: $white;
    }
  }

  .pages-list {
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    li {
      display: inline-flex;
    }

    .btn {
      @include navBtnStyle;
    }
  }

  .btn-language {
    @include navBtnStyle;
  }

  .more-links-wrap {
    width: 100%;
  }
}