// <UI /> ImageSlider
.image-slider {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $day;
  border-radius: 1em;
}

// ----------------------------------------------------------------------------------------

.image-slider-container {
  overflow: hidden;
  margin: 3rem;
  // z-index: 99;
}

.image-list {
  display: flex;
  height: 100%;
  column-gap: 0;
}

.image-item {
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $gray200;
  transition: transform 0.12s;

  img.image {
    object-fit: fill;
  }
}

// ----------------------------------------------------------------------------------------

.slider-controller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  display: flex;
  justify-content: space-between;

  pointer-events: none;

  .btn {
    pointer-events: fill;
  }
}

// ----------------------------------------------------------------------------------------

.slider-pagination {
  position: absolute;
  // bottom: -1em;
  bottom: 0;

  padding: 0.6rem;

  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.btn-pagination {
  padding: 0.4rem; // user select button area 

  opacity: 0.5;
  transition: opacity 0.1s;

  &:hover {
    opacity: 1;
  }
}