.sort-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.sort-list-wrap {
  display: flex;
  column-gap: 1.8rem;
  align-items: center;
}

.sort-list {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}

// ----------------------------------------------------------------------------------------
