
.sort-container {
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.sort-list-wrap {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.sort-list {
  display: flex;
  column-gap: 12px;
  padding: 20px 0;
}

// ----------------------------------------------------------------------------------------
