@import './../modules';

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary{
  width: 100px;
  height: 30px;
  border-radius: 30px;

  color: $gray1;
  background-color: $black1;
}