@import './../modules';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  a,
  button {
    @content;
  }
}

.btn-primary {
  width: 100px;
  height: 30px;
  border-radius: 30px;

  color: $gray1;
  background-color: $black1;
}

.btn-sea__container {
  @include button {
    color: $gray1;
    padding: 1em;
  }

  background-color: $black1;
  border-radius: 1em;
  transition: background-color 0.2s;

  &:hover {
    background-color: $pink1;
  }
}