// <UI /> popup
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: $layerTop;

  backdrop-filter: blur(2px);
  @include animation_fadein(popup-fade-in);
}

.popup-wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  background-color: $white108;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.12);

  overflow: hidden;

  &::before {
    // visual element gradient
    z-index: $layerBackground;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(244, 248, 255, 0.4) 0%,
      rgba(244, 248, 255, 0) 100%
    );
  }
}

// ----------------------------------------------------------------------------------------

.popup-content {
  // flex: 1 1 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.popup-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 1rem;
  padding: 2rem;
}
