// <UI /> progress
.progress-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.progress-info-wrap {
  align-self: flex-end;
  font-size: $fontSize-14;
  color: $darkgray107;

  .number-now {
    color: $blue;
    font-weight: $fontBold;
  }

  .number-total {
  }
}

// ----------------------------------------------------------------------------------------

.progress-bar {
  transition: width 0.2s linear;
  height: 1.2rem;

  &::-webkit-progress-bar {
    background-color: $white;
    border-radius: 6px;
    box-shadow: inset 0px 2px 4px $black101;
  }

  &::-webkit-progress-value {
    background-color: $blue;
    border-radius: 6px;
    transition: width 0.2s;
    box-shadow: inset 0px 2px 4px $black101;
  }
}

// ----------------------------------------------------------------------------------------
