// <UI /> textfield
.textfield-container {
  position: relative;
  width: 260px;
}

.textfield-title {
  font-weight: $fontBold;
  font-size: $fontSize-12;
  padding: 8px 0;
  color: $darkgray107;
}

// ----------------------------------------------------------------------------------------

.textfield-wrap {
  height: 42px;
  width: 100%;

  position: relative;
  border: none;
  background-color: $white;
  border-radius: 5px;
  outline: 1px solid $gray;

  display: inline-flex;
  padding: 0 1rem;

  transition: outline-color 0.1s;

  // interaction
  &:hover {
    outline-color: $day;
  }

  &:focus-within {
    outline-color: $day;
    outline-width: 2px;
    background-color: $white108;
  }

  &:focus-within,
  &[data-focus='true'] {
    .placeholder-text {
      transform: translateY(-1em);
      font-size: 1rem;
      opacity: 0.8;
    }
  }

  &[data-focus='true'] {
    .btn-textfield-clear {
      visibility: visible;
    }
  }

  &:invalid {
    outline: 2px solid $red;

    .invalid-message {
      visibility: visible;
      transform: translateY(-0rem);
    }
  }
}

// ----------------------------------------------------------------------------------------

.textfield-input {
  flex: 1 1 auto;
  font-size: $fontSize-14;
  height: 100%;
  background-blend-mode: multiply;

  &:required {
    margin-top: 0.4em;
  }
}

.btn-textfield-clear {
  visibility: hidden;
  width: 20px;

  .icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &:hover {
    .icon {
      background-color: $gray;
    }
  }
}

.textfield-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 1rem;

  color: $darkgray100;
  font-size: $fontSize-14;

  @include prevent-event;
  cursor: text;

  .placeholder-text {
    transition: transform 0.3s;
  }

  .required {
    position: relative;
    color: $red;
    text-indent: 4px;
  }
}

.invalid-message {
  display: inline-block;
  padding: 0.2em;
  height: 1.6rem;

  font-weight: $fontMedium;
  font-size: $fontSize-12;

  color: $white;
  background-color: $red;
  border-radius: 2px;

  transform: translateY(-0.4rem);
  transition: transform 0.1s;

  visibility: hidden;
}
