.header {
  position: relative;
  width: 100%;
  height: var(--header-height);
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: $layerFix;

  padding-left: 3.6rem;
  padding-right: 3.6rem;

  &> .header-title{
    // flex: 1 1 auto;
    width: 40%;
 
    .title{
      font-family:'Courier New', Courier, monospace;
      font-size: $fontSize-20;
      color: $white;
    }
  }

  &> .header-theme{
    // flex: 1 1 auto;
    // display: flex;
    // justify-content: center;
    // align-self: center;
  }

  &> .header-drawer {
    width: 40%;
    position: relative;
    // flex: 1 1 auto;
    text-align: right;
  }
}

.header-drawer {
  .drawer-container {
    position: relative;
    visibility: hidden;
  }

  .btn-drawer-trigger.focus + .drawer-container {
    visibility: visible;
  }
}

.drawer-wrap {
  position: absolute;
  right: 0;
  top: 22px;

  width: 220px;
  height: 449px;

  background-color: rgba($color: $whiten, $alpha: 0.2);
  border: 1px solid rgba($color: $whiten, $alpha: 0.4);
  border-radius: 4px;
  padding: 2.4rem 1.7rem;

  text-align: left;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.nav-pages{
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  h3{
    font-weight: 700;
    font-size: $fontSize-16;
    color: $white;
  }

  .pages-list{

    font-size: $fontSize-14;
    text-decoration: underline;

    color: $white;
    font-weight: thin;
  }
}