node_modules
public
build
.storybook/

// setting files 
*.json
*.lock
*.md

// assets
*.svg

src/assets
src/lang
src/stories
*.stories.tsx

src/index.ts

*.test.ts

src/reportWebVitals.ts
src/setupTest.ts