.sea {
  position: fixed;
  // width: 200vw;
  // height: 200vh;
  width: 200%;
  height: 200%;

  top: 0;
  left: 0;
  // left: -100vw;
  z-index: $level-1;

  @keyframes test {
    from {
      d: path("M365.111 0H0V453.874C21.5666 434.401 42.3441 417.656 62.9976 401.011C135.733 342.393 206.929 285.016 305.626 114.067C329.935 71.9625 349.386 34.2727 365.111 0Z");
    }

    to {
      d: path("M707.821 0H0V1071.36C18.6553 980.615 44.704 884.052 139.759 719.412C252.129 524.781 329.757 462.22 405.707 401.011C478.442 342.393 549.638 285.016 648.336 114.067C672.645 71.9625 692.096 34.2727 707.821 0Z");
    }
  }

  .wave1 {
    transition: 1s;
  }

}