
.popup-home-welcome {
  width: 65.8rem;
  padding-left: 4rem;
  padding-top: 63px;
  padding-bottom: 28px;
  padding-right: 32px;
  
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  color: $black;

  .popup-footer {
    align-self: flex-end;
  }
  .emoji{
    font-size: $emojiH1;
  }

  h1{
    font-size: $fontsizeH1;
    margin-top: 2rem;
    margin-bottom: 18px;
    font-weight: $fontBold;
  }

  p{
    font-size: $fontsize20;
    font-weight: $fontRegular;
  }
}