// welcome popup
.popup-home-welcome {
  width: 65.8rem;
  padding-left: 4rem;
  padding-top: 63px;
  padding-bottom: 28px;
  padding-right: 32px;
  
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  color: $black;

  .popup-footer {
    align-self: flex-end;
  }

  .emoji{
    font-size: $emojiH1;
  }

  h1{
    font-size: $fontSizeH1;
    margin-top: 2rem;
    margin-bottom: 18px;
    font-weight: $fontBold;
  }

  p{
    font-size: $fontSize-20;
    line-height: $fontHeight-20;
    font-weight: $fontRegular;
  }
}

.home {
  height: calc(100% - 80px);
}

.home-site-index {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

.site-index-list {
  // flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  
  padding: 32.8rem 0;

  &> .site-index-item {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1320px;
    height: 45rem;
    
    &> .btn {
      width: 100%;
      height: inherit;
    }

    .box-wrap {
      align-items: center;
      justify-content: space-between;
      padding: 0 10.4rem 0 70px;

      &> .box-content {
        @mixin box-common-text {
          font-size: $fontSize-20;
          line-height: $fontHeight-20;
          font-weight: $fontRegular;
        }
        flex: 2 2 auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        row-gap: 7rem;
        margin-right: 5rem;

        &> .box-top { 
          h2 {
            position: relative;
            width: max-content;
            margin-bottom: 2.2rem;

            color: $black;
            font-weight: $fontBold;
            font-size: $fontSizeH1;

            .emoji { 
              margin-left: 1.6rem;
            }
          }

          p{
            @include box-common-text;
          }
        }

        &> .box-bottom { 
          strong {
            @include box-common-text;
          }
          ul {
            margin-top: 2rem;

            li {
              display: inline-flex;
              align-items: center;
              margin-bottom: 1rem;
              font-size: 28px;
              font-weight: $fontMedium;

              &::before {
                content: '\25CF';
                margin: 0 1.4rem 0 1rem ;
                display: inline-block;
                font-size: 8px;
              }
            }
          }
        }
      }

      &> .box-img {
        flex: 1 1 auto;
        max-width: 30rem;
        max-height: 30rem;
      }
    }
  }

  &> .site-index-item.disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
    position: relative;
    &::after {
      content: 'will be next version!';
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: $fontSizeH1;
      font-weight: $fontBold;
      color: $white;
      // backdrop-filter: blur();
      border-radius: 32px;
      background: rgba(0, 0, 0, 0.6);
      filter: brightness(0.5);
    }
  }
}

.site-index-item {
  .btn {
    .box-top {
      h2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $layerBackground;

        background-color: $blue;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s;
      }
    }
  }

  .btn:hover {
    .box-top {
      h2::before {
        transform: scale(1);
      }
    }
  }
}

// TODO: Split - Graphic Component
.icon-portfolio-wrap {
  position: relative;
  width: 300px;
  height: 300px;
}

@keyframes icon-portfolio-1 {
  0% {
    transform: scale(1);
    background-color: $day;
    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
  }
  25% {
    transform: scale(0.8);
    background-color: $blue;
    border-radius: 61% 39% 27% 73% / 36% 65% 35% 64%;
  }
  50% {
    transform: scale(0.9);
    background-color: $night;
    border-radius: 64% 36% 61% 39% / 70% 26% 74% 30%;
  }
  75% {
    transform: scale(0.95);
    background-color: $orange;
  }
  100% {
    transform: scale(1);
    background-color: $day;
    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
  }
}
.icon-portfolio-1 {
  position: absolute;
  top: 0;
  left: 0;

  width: 300px;
  height: 300px;

  animation-name: icon-portfolio-1;
  animation-duration: 12s;
  animation-iteration-count: infinite;

  transition: all 0.2s ease;
}

@keyframes icon-portfolio-2 {
  0% {
    top: 40%;
    left: 30%;

    transform: scale(1);
    background-color: $white;
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
  }
  40% {
    top: 42%;
    left: 35%;
    // transform: scale(0.8);
    background-color: $orange;
    border-radius: 64% 36% 32% 68% / 54% 65% 35% 46%;
  }
  60% {
    top: 50%;
    left: 30%;

    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
    transform: scale(0.9);
    background-color: $day;
  }
  80% {
    top: 48%;
    left: 32%;
    border-radius: 44% 56% 65% 35% / 35% 81% 19% 65%;
    background-color: $black;
  }
  100% {
    top: 45%;
    left: 30%;

    transform: scale(1);
    background-color: $blue;
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
  }
}
.icon-portfolio-2 {
  position: absolute;
  
  width: 120px;
  height: 100px;

  animation-name: icon-portfolio-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  filter: hue-rotate(45deg);
  transition: all 0.2s ease;
}

@keyframes icon-portfolio-3 {
  0% {
    top: 20%;
    left: 40%;

    transform: scale(1);
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
    background-color: $orange;
  }
  30% {
    top: 22%;
    left: 45%;
    // transform: scale(0.8);
    background-color: $white;
    border-radius: 64% 36% 32% 68% / 54% 65% 35% 46%;
  }
  60% {
    top: 20%;
    left: 40%;

    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
    transform: scale(0.9);
    background-color: $day;
  }
  100% {
    top: 25%;
    left: 40%;

    transform: scale(1);
    background-color: $blue;
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
  }
}
.icon-portfolio-3 {
  position: absolute;
  top: 15%;
  
  width: 200px;
  height: 230px;

  animation-name: icon-portfolio-3;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  filter: opacity(0.6);
  transition: all 0.2s ease;
}