
.portfolio {

  .sort-list-wrap {
    margin-top: 6rem;
    margin-bottom: 7.8rem;
  }

}

// component 이름 만들기
.name-component {
  &::before {
    content: '\003C';
  }
  &::after {
    content: '\002F \003E';
  }
}

// ----------------------------------------------------------------------------------------

.sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-list-wrap {
  display: flex;
  column-gap: 18px;
  align-items: center;
  width: $PCContentMaxWidth;
}
.sort-list {
  display: flex;
  column-gap: 12px;
  padding: 20px 0;
}

// ----------------------------------------------------------------------------------------

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-wrap {
  width: $PCContentMaxWidth;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}

.portfolio-item {
  flex: 1 1 auto;
}

// ----------------------------------------------------------------------------------------

.ui-presenter-wrap {
  position: relative;
  height: auto;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  background-color: rgba(244, 248, 255, 0.26);
  border: 1px solid rgba(255, 255, 255, 0.51);

  border-radius: 12px;
  transition: all 0.2s;
}

.ui-title {
  @include prevent-event;
  padding: 0.6em ;
  align-self: flex-start;

  font-weight: $fontBold;
  font-size: $fontSizeH2;
  color: $white;

  text-shadow: 1px 1px 0px #10233E05;
  transition: all 0.2s;
}

.ui-component {
  flex: 1 1 auto;
  width: 100%;
  padding: 1em;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;

  background-color: transparent;
  transition: background-color 0.2s;
}

.ui-presenter-wrap {
  &:hover {
    backdrop-filter: blur(2px);
    background-color: rgba(244, 248, 255, 0.36);

    .ui-title {
      text-shadow: 4px 2px 0px #10233E;
    }
  }

  &:active {
    background-color: rgba(244, 248, 255, 0.26);
  }
}