//
// * coordinates
// 원 크기/2 뺌
.tree-0-uxe {
  width: 26.0rem;
  height: 26.0rem;

  top: 20.4rem; // 335 - 204 = 131
  left: 25.0rem; // 379 - 250 = 129
}

// ----------------------------------------------------------------------------------------

.tree-1-dev {
  width: 20.0rem;
  height: 20.0rem;

  top: 13.1rem; // 231 - 131 = 100
  left: 50.9rem; // 609 - 509 = 100
}

.tree-1-des {
  width: 16.0rem;
  height: 16.0rem;

  top: 46.1rem; // 54.1rem - 461 = 80
  left: 20.6rem; // 28.6rem - 206 = 80
}

.tree-1-hmi {
  width: 10.0rem;
  height: 10.0rem;

  top: 9.5rem;
  left: 27.8rem;
}

.tree-1-ds {
  width: 12.0rem;
  height: 12.0rem;

  top: 46.1rem;
  left: 43.0rem;
}

.tree-1-uxi {
  width: 12.0rem;
  height: 12.0rem;

  top: 19.5rem;
  left: 12.9rem;
}

// ----------------------------------------------------------------------------------------

.tree-2-ele {
  width: 10.0rem;
  height: 10.0rem;
  // 일렬로 나열할 때, 좌표값 (svg 좌표값에서 원의 반지름 만큼 뺌)
  top: 10.4rem; // *140
  left: 42.2rem; // *520
  // top: -3.6rem;
  // left: -9.8rem;
}

.tree-2-db {
  width: 6.0rem;
  height: 6.0rem;
  top: 7.4rem;
  left: 52.2rem;
  // top: -6.6rem;
  // left: .2rem;
}

.tree-2-html {
  width: 6.0rem;
  height: 6.0rem;
  top: 33.7rem;
  left: 52.2rem;
  // top: 19.7rem;
  // left: .2rem;
}

.tree-2-css {
  width: 6.0rem;
  height: 6.0rem;
  top: 34.9rem;
  left: 59.2rem;
  // top: 20.9rem;
  // left: 7.2rem;
}

.tree-2-js {
  width: 6.0rem;
  height: 6.0rem;
  top: 28.2rem;
  left: 69.8rem;
  // top: 14.2rem;
  // left: 18.8rem;
}

.tree-2-react {
  width: 10.0rem;
  height: 10.0rem;
  top: 11.8rem;
  left: 70.9rem;
  // top: -2.2rem;
  // left: 18.9rem;
}

.tree-2-ts {
  width: 8.0rem;
  height: 8.0rem;
  top: 22.1rem;
  left: 75.8rem;
  // top: 8.1rem;
  // left: 23.8rem;
}

.tree-2-wbp {
  width: 6.0rem;
  height: 6.0rem;
  top: 15.9rem;
  left: 82.0rem;
  // top: 1.9rem;
  // left: 30.0rem;
}

.tree-2-stb {
  width: 8.0rem;
  height: 8.0rem;
  top: 40.6rem;
  left: 53.4rem;
  // top: 26.6rem;
  // left: 1.4rem;
}

// ----------------------------------------------------------------------------------------

.tree-2-adobe {
  width: 8.0rem;
  height: 8.0rem;
  top: 60.6rem;
  left: 15.4rem;
  // top: 0;
  // left: -9.0rem;
}

.tree-2-figma {
  width: 8.0rem;
  height: 8.0rem;
  top: 51.2rem;
  left: 11.9rem;
  // top: 10.0rem;
  // left: -8.0rem;
}

// ----------------------------------------------------------------------------------------

.tree-2-test {
  width: 6.0rem;
  height: 6.0rem;
  top: 13.4rem;
  left: 20.1rem;
  // top: -7.0rem;
  // left: 7.0rem;
}

// ----------------------------------------------------------------------------------------
