//
.dashboard-diagram {
  position: relative;
  // temp size
  width: 1028px;
  height: 716px;
  // ? area
  // background-color: rgba(255, 0, 0, 0.452);
}

.tree-diagram {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: $black;
  color: $white;

  transition: background-color 0.2s, transform 0.2s;
}

// ----------------------------------------------------------------------------------------

// state
.dashboard-diagram {
  // 상단이 접히면 아래가 모두 접히도록
  [aria-expanded='false'] + .diagram-container {
    visibility: hidden;

    & > .tree-diagram {
      transform: translateY(1rem);
    }
  }
  
  [aria-expanded='true'] + .diagram-container {
    visibility: visible;

    & > .tree-diagram {
      transform: translateY(0);
    }
  }

  .tree-diagram[focused] {
    background-color: $day;
  }
}
