//
// * coordinates
// 원 크기/2 뺌
.tree-0-uxe {
  width: 260px;
  height: 260px;

  top: 204px; // 335 - 204 = 131
  left: 250px; // 379 - 250 = 129
}

// ----------------------------------------------------------------------------------------

.tree-1-dev {
  width: 200px;
  height: 200px;

  top: 131px; // 231 - 131 = 100
  left: 509px; // 609 - 509 = 100
}

.tree-1-des {
  width: 160px;
  height: 160px;

  top: 461px; // 541px - 461 = 80
  left: 206px; // 286px - 206 = 80
}

.tree-1-hmi {
  width: 100px;
  height: 100px;

  top: 95px;
  left: 278px;
}

.tree-1-ds {
  width: 120px;
  height: 120px;

  top: 461px;
  left: 430px;
}

.tree-1-uxi {
  width: 120px;
  height: 120px;

  top: 195px;
  left: 129px;
}

// ----------------------------------------------------------------------------------------

.tree-2-ele {
  width: 100px;
  height: 100px;
  // 일렬로 나열할 때, 좌표값 (svg 좌표값에서 원의 반지름 만큼 뺌)
  top: 104px; // *140
  left: 422px; // *520
  // top: -36px;
  // left: -98px;
}

.tree-2-db {
  width: 60px;
  height: 60px;
  top: 74px;
  left: 522px;
  // top: -66px;
  // left: 2px;
}

.tree-2-html {
  width: 60px;
  height: 60px;
  top: 337px;
  left: 522px;
  // top: 197px;
  // left: 2px;
}

.tree-2-css {
  width: 60px;
  height: 60px;
  top: 349px;
  left: 592px;
  // top: 209px;
  // left: 72px;
}

.tree-2-js {
  width: 60px;
  height: 60px;
  top: 282px;
  left: 698px;
  // top: 142px;
  // left: 188px;
}

.tree-2-react {
  width: 100px;
  height: 100px;
  top: 118px;
  left: 709px;
  // top: -22px;
  // left: 189px;
}

.tree-2-ts {
  width: 80px;
  height: 80px;
  top: 221px;
  left: 758px;
  // top: 81px;
  // left: 238px;
}

.tree-2-wbp {
  width: 60px;
  height: 60px;
  top: 159px;
  left: 820px;
  // top: 19px;
  // left: 300px;
}

.tree-2-stb {
  width: 80px;
  height: 80px;
  top: 406px;
  left: 534px;
  // top: 266px;
  // left: 14px;
}

// ----------------------------------------------------------------------------------------

.tree-2-adobe {
  width: 80px;
  height: 80px;
  top: 606px;
  left: 154px;
  // top: 0;
  // left: -90px;
}

.tree-2-figma {
  width: 80px;
  height: 80px;
  top: 512px;
  left: 119px;
  // top: 100px;
  // left: -80px;
}

// ----------------------------------------------------------------------------------------

.tree-2-test {
  width: 60px;
  height: 60px;
  top: 134px;
  left: 201px;
  // top: -70px;
  // left: 70px;
}

// ----------------------------------------------------------------------------------------
