.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  transition: border-color 0.14s, background-color 0.14s;

  & > .btn-text {
    pointer-events: none;
  }
}

@mixin btn-common {
  height: 4rem;
  padding: 0 3rem;
  border-radius: 24px;

  .btn-text {
    font-size: $fontSize-18;
  }
}

.btn-fill {
  @include btn-common;

  .btn-text {
    font-weight: $fontRegular;
  }

  &[aria-label='basic'] {
    background-color: $white105;
    border: 1px solid $white105;

    .btn-text {
      color: $day;
    }

    &:hover {
      background-color: $white;
      border-color: $white105;
    }

    &:active {
      background-color: $white108;
      border-color: $white;
    }
  }

  &[aria-label='accent'] {
    background-color: $day;
    border: 1px solid $day200;

    .btn-text {
      color: $white;
    }

    &:hover {
      // background-color: $white108;
      border-color: $day105;
    }

    &:active {
      .btn-text {
        color: $white105;
      }
      // background-color: $day105;
      border-color: $day;
    }
  }
}

.btn-line {
  @include btn-common;
  border: 1px solid $white108;
  background-color: $white101;

  & > .btn-text {
    color: $white108;
  }

  &:hover {
    background-color: transparent;
  }

  &:active {
    border-color: $white;

    & > .btn-text {
      color: $white;
    }
  }
}

.btn-sort {
  height: 3rem;
  padding: 0 18px;
  border-radius: 20px;
  background-color: rgba(244, 248, 255, 0.5);
  border: 1px solid transparent;

  color: $day;

  font-size: $fontSize-16;
  font-weight: $fontRegular;

  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: $white;
  }

  &:active {
    border-color: $white;
    background-color: rgba(244, 248, 255, 0.7);
  }

  &.selected {
    color: $white;
    border-color: transparent;
    background-color: $day;
  }
}
