.icon {
  display: inline-flex;
  pointer-events: none;
  user-select: none;
  transition: all 0.2s;

  svg {
    width: inherit;
    height: inherit;
  }

  path {
    transition: fill 0.2s;
  }

  svg * {
    // transition: all 0.2s;
  }
}

@mixin btn-hover {
  @at-root .btn:hover & {
    @content;
  }
}

@mixin btn-active {
  @at-root .btn:active & {
    @content;
  }
}

@mixin btn-state($state) {
  @at-root .btn[#{$state}] & {
    @content;
  }
}

// ----------------------------------------------------------------------------------------

// TODO: refactor 
.icon-portfolio-wrap {
  position: relative;
  width: 30rem;
  height: 30rem;
}

@keyframes icon-portfolio-1 {
  0% {
    transform: scale(1);
    background-color: $day;
    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
  }
  25% {
    transform: scale(0.8);
    background-color: $blue;
    border-radius: 61% 39% 27% 73% / 36% 65% 35% 64%;
  }
  50% {
    transform: scale(0.9);
    background-color: $night;
    border-radius: 64% 36% 61% 39% / 70% 26% 74% 30%;
  }
  75% {
    transform: scale(0.95);
    background-color: $orange;
  }
  100% {
    transform: scale(1);
    background-color: $day;
    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
  }
}
.icon-portfolio-1 {
  position: absolute;
  top: 0;
  left: 0;

  width: 30rem;
  height: 30rem;

  animation-name: icon-portfolio-1;
  animation-duration: 12s;
  animation-iteration-count: infinite;

  transition: all 0.2s ease;
}

@keyframes icon-portfolio-2 {
  0% {
    top: 40%;
    left: 30%;

    transform: scale(1);
    background-color: $white;
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
  }
  40% {
    top: 42%;
    left: 35%;
    // transform: scale(0.8);
    background-color: $orange;
    border-radius: 64% 36% 32% 68% / 54% 65% 35% 46%;
  }
  60% {
    top: 50%;
    left: 30%;

    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
    transform: scale(0.9);
    background-color: $day;
  }
  80% {
    top: 48%;
    left: 32%;
    border-radius: 44% 56% 65% 35% / 35% 81% 19% 65%;
    background-color: $black;
  }
  100% {
    top: 45%;
    left: 30%;

    transform: scale(1);
    background-color: $blue;
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
  }
}
.icon-portfolio-2 {
  position: absolute;

  width: 12rem;
  height: 10rem;

  animation-name: icon-portfolio-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  filter: hue-rotate(45deg);
  transition: all 0.2s ease;
}

@keyframes icon-portfolio-3 {
  0% {
    top: 20%;
    left: 40%;

    transform: scale(1);
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
    background-color: $orange;
  }
  30% {
    top: 22%;
    left: 45%;
    // transform: scale(0.8);
    background-color: $white;
    border-radius: 64% 36% 32% 68% / 54% 65% 35% 46%;
  }
  60% {
    top: 20%;
    left: 40%;

    border-radius: 54% 46% 70% 30% / 52% 39% 61% 48%;
    transform: scale(0.9);
    background-color: $day;
  }
  100% {
    top: 25%;
    left: 40%;

    transform: scale(1);
    background-color: $blue;
    border-radius: 48% 52% 61% 39% / 41% 28% 72% 59%;
  }
}

.icon-portfolio-3 {
  position: absolute;
  top: 15%;

  width: 20rem;
  height: 23rem;

  animation-name: icon-portfolio-3;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  filter: opacity(0.6);
  transition: all 0.2s ease;
}

// ----------------------------------------------------------------------------------------

.icon-drawer {
  background-color: transparent;
  border-radius: 1rem;
  border: solid 1px transparent;

  rect {
    transition: all 0.3s;
  }

  @include btn-hover {
    @include device_desktop {
      background-color: $white102;
    }
  }

  @include btn-active {
    background-color: $white103;
    border-color: $white103;
  }

  @include btn-state('data-toggle=true') {
    .rect00 {
      transform: translate(-2px, -2px);
    }
    .rect10 {
      transform: translate(-2px, 0px);
    }
    .rect20 {
      transform: translate(-2px, 2px);
    }
    .rect01 {
      transform: translate(0, -2px);
    }
    .rect11 {
      transform: translate(0, 0px);
    }
    .rect21 {
      transform: translate(0, 2px);
    }
    .rect02 {
      transform: translate(2px, -2px);
    }
    .rect12 {
      transform: translate(2px, 0);
    }
    .rect22 {
      transform: translate(2px, 2px);
    }

    @include device_desktop {
      background-color: transparent;
    }

    @include device_mobile {
      background-color: $white101;
    }
  }
}

// ----------------------------------------------------------------------------------------

.icon-like {
  path {
    fill: transparent;
  }

  @include btn-hover {
    path {
      fill: $white101;
    }
  }

  @include btn-active {
    transform: scale(0.9);
    path {
      fill: $white108;
    }
  }

  @include btn-state('data-toggle=true') {
    path {
      fill: $day;
      stroke: $day;
    }

    animation-name: tada, shaking;
    animation-duration: 0.1s, 0.1s;
    animation-delay: 0s, 0.2s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, 3;
  }
}

// ----------------------------------------------------------------------------------------

.icon-theme {
  .svg-day-night {
    * {
      transition: all 0.6s;
    }
  }
  
  .sun-light {
    transform-origin: center;
    transition: all 0.4s;
  }
  .bg-light {
    stroke: $white;
    stroke-width: 1px;
    stroke-opacity: 0;
  }

  @include theme-light {
    .bg-light {
      stroke-opacity: 0;
    }
  }

  @include theme-dark {
    .eclipse {
      mask: url(#eclipse);
    }
    .sun-light {
      transform: scale(0);
    }
    .bg-light {
      stroke-opacity: 0.2;
    }
  }
}

// ----------------------------------------------------------------------------------------

.icon-tree-index {
  .rect {
    // transition: height 0.1s;
  }

  // spread
  @include btn-state('aria-expanded=true') {
    .rect {
      height: 10px;
    }
  }
  // folded
  @include btn-state('aria-expanded=false') {
    .rect {
      transform: translateY(4px);
      height: 2px;
    }
  }
}

.icon-arrow-left,
.icon-arrow-right {
  opacity: 0.5;

  @include btn-hover {
    opacity: 1;
  }
}