.icon {
  display: inline-flex;
  user-select: none;
  
  svg {
    width: inherit;
    height: inherit;
  }

  path {
    transition: fill 0.1s;
  }
}

.icon-drawer {
  rect{
    transition: all 0.3s;
  }
}