.background-sea {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $day_sunrise;
  overflow: hidden;
  z-index: $layerBackground;
  @include prevent-event;
}

.background-wrap {
  position: relative;
  width: 100%;

  .waves {
    width: 100%;
    min-width: 700px;
    max-width: 1578px;
  }
}

// ----------------------------------------------------------------------------------------

@keyframes move_wave_1 {
  40% {
    transform: translate(-6rem, -1rem);
  }
}

@keyframes move_wave_2 {
  50% {
    transform: translate(-5vw, 0);
    fill-opacity: 0.1;
  }
  80% {
    transform: translate(-2vw, 0);
  }
}

@keyframes move_wave_3 {
  30% {
    transform: translate(-20vw, 0);
    fill-opacity: 0.4;
  }
  80% {
    transform: translate(-4vw, 0);
  }
}

@keyframes move_wave_4 {
  40% {
    transform: translate(-10vw, 0);
    fill-opacity: 0.2;
  }
  80% {
    transform: translate(-4vw, 0);
  }
}

// ----------------------------------------------------------------------------------------

$sea_delay: 2s;
$sea_animation: 10s;

.wave {
  animation-timing-function: ease-in-out;
  animation-delay: $sea_delay;
  animation-duration: $sea_animation;
  animation-iteration-count: infinite;
}

// ----------------------------------------------------------------------------------------

.wave-path-1 {
  stroke-opacity: 0.2;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: $white;

  animation-name: move_wave_1;
}

.wave-path-2 {
  animation-name: move_wave_2;
}

.wave-path-3 {
  animation-name: move_wave_3;
}

.wave-path-4 {
  stroke-opacity: 0.1;
  stroke: $white;
  stroke-width: 2px;

  animation-name: move_wave_4;
}
