$blue1: #2F78E3;

$pink1: #FF517C;
$pink10: #FBE5FC;

$orange1: #FF9929;

$gray1: #F4F8FF;

$black1: #111214;

$gradient_sea: linear-gradient(112.68deg, #FF9929 0%, #FF7270 59.9%, #FF517C 100%);


$level-1: -9;
$level0: 0;
$level1: 9;