/*
  * src attr
  local - user computer installed
  * file type
  .woff | Web open font format 
    - compressed otf+ttf
  .ttf | True type font 
    - available in old browser, mobile
    - installed in user computer
  .otf | Open type font
  * file load 
  woff2 > woff > ttf > eot > svg (related with file size)
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src:
    /* url(Roboto-Thin.woff2) format("woff2"),
    url(Roboto-Thin.woff) format("woff"),
    url(Roboto-Thin.otf) format("opentype"); */
    url(Roboto-Thin.ttf) format("woff"),
    // local('Roboto'),
    url(Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src:
  url(Roboto-ThinItalic.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src:
  url(Roboto-Light.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 200;
  src:
  url(Roboto-LightItalic.ttf) format("truetype");
  // local('Roboto'),
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
  url(Roboto-Regular.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src:
  url(Roboto-Italic.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
  url(Roboto-Medium.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src:
  url(Roboto-MediumItalic.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
  url(Roboto-Bold.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src:
  url(Roboto-BoldItalic.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src:
  url(Roboto-Black.ttf) format("truetype");
  // local('Roboto'),
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src:
  url(Roboto-BlackItalic.ttf) format("truetype");
  // local('Roboto'),
}