@include theme-dark {
  *::selection {
    background-color: $day;
    color: $white;
  }

  .background-sea {
    background: $night_sunset;
    svg.sea {
      .stars {
        visibility: visible;
        animation-name: twinkle;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }
}
