@include theme-light{
  *::selection {
    background-color: $day;
    color: $black;
  }

  svg.sea {
    .stars {
      visibility: hidden;
    }
  
    .theme-sea {
      fill: url(#theme_light);
    }
  }
}