// TODO: 제작 중 (애니메이션 여러 개일 경우 고려)
@mixin animation(
  $keyframeName,
  $duration,
  $delay: 0s,
  $timeFunction: initial,
  $fill: forwards,
  $count: 1
) {
  animation-fill-mode: $fill;
  animation-name: $keyframeName;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-timing-function: $timeFunction;
  animation-iteration-count: $count;
  animation-direction: alternate;

  // animation: $duration $timeFunction $delay $count $;
}

// dialog, popup
@mixin animation_fadein ($name) {
  animation-name: $name;

  animation-delay: 0s;
  animation-duration: 0.2s; // 일관된 경험 제공용 
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}