:root {
  --day: #FF736F;
  --night: #10233E;
  
  --black: #111214;
  --white: #F4F8FF;
  --whiten: 255, 255, 255;
  --blue: #2F78E3; 
  --orange: #FF9929;
  --red: #FF0700;
}

// $success: 
// $warning:

$day: var(--day);
$night: var(--night);

$black: var(--black);
$white: var(--white);
$whiten: var(--whiten);
$blue: var(--blue);
$orange: var(--orange);
$red: var(--red);
