// dialog fade in 
@keyframes dialog-fade-in {
  from {
    background-color: $white101;
    transform: translateY(1rem);
  } to {
    background-color: $white108;
    transform: translateY(0rem);
  }
}

// popup fade in 
@keyframes popup-fade-in {
  from {
    opacity: 0.4;
  } to {
    opacity: 1;
  }
}

// dark bg animation
@keyframes twinkle {
  from{
    opacity: 0.5;
  }50%{
    opacity: 1;
  }to{
    opacity: 0.5;
  }
}
