// dialog fade in
@keyframes dialog-fade-in {
  from {
    background-color: $white101;
    transform: translateY(1rem);
  }
  to {
    background-color: $white108;
    transform: translateY(0rem);
  }
}

// popup fade in
@keyframes popup-fade-in {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// animation icon-like
@keyframes shaking {
  0% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(-1px);
  }
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// dark bg animation
@keyframes twinkle {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

// tooltip fade-in
@keyframes tooltip-fade-in-down {
  from {
    transform: translateY(-2px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

// animation blink number
@keyframes blink {
  0% {
    opacity: 0.5;
    transform: translateY(1px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

// bottomsheet slide-up
@keyframes slide-up {
  from {
    transform: translateY(100%);

  }
  to {
    transform: translateY(0%);

  }
}

// drawer left-to-right 
@keyframes left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

// accordion
/* * accordion animation apply
  height를 조절하는 건 맞는데, 
  height 0 -> auto 는 transition이 안먹기 때문에 
  height 0 -> number -> auto 로 가도록 만들어야 interaction이 들어감
*/

@keyframes accordion-expanded {
  from {
    height: 0;
  }
  99% {
    height: 1em;
  }
  to {
    height: auto;
  }
}
