@mixin prevent-event {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: initial;
}

@mixin webkit-scrollbar($thick: 4px, $color_scroll: $gray) {
  // look role="scrollbar"
  padding-top: $thick;
  padding-right: $thick;

  ::-webkit-scrollbar {
    width: $thick;
    height: $thick;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: $color_scroll;
  }
}
