// * fix layout
$header_height: 100 * 1px;

// * responsive
$mobile_max: 0px;

// $img_path: 'assets/iamges';
// $icons_path: 'assets/icons';

// * zIndex
$level_0: 0;
$level_1: 9;

$level_max: 9999;

$level-1: -9;
$level0: 0;

// * responsive rule
:root {
  --header-height: 8rem; // max

  --fontsize20: 2rem;
  --fontsize16: 1.6rem;
  --fontsize14: 1.4rem;
}

$fontsize20: var(--fontsize20);
$fontsize16: var(--fontsize16);
$fontsize14: var(--fontsize14);