#root {
  // on page site feature
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  color: $black;
  scroll-behavior: smooth;
  // scroll-behavior: unset;
}

i { // icon
  transition: all 0.1s;
}