/* reset user agent style */

/* -webkit-appearance - Chrome, Safari, Opera */
/* -moz-appearance - Mozilla Firefox */
/* appearance - Modern Browsers */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
  text-align: left;
}

textarea {
  resize: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
    background-color: transparent;
  }
}

p {
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

span,
i {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border: 0;
}

button {
  -webkit-appearance: button;
  border: none;
  background: none;
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 0;
  background-color: transparent;
  overflow: hidden;

  &:focus {
    outline: none;
    border: none;
    touch-action: manipulation;
  }

  &::placeholder {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  &[type='search'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &[type='checkbox'],
  &[type='radio'] {
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: transparent;

    transition: all 0.3s;
  }

  &[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;

    /* thumb */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      color: transparent; // 아이폰에서 하얀 박스가 보임
      background-color: transparent;
      // transition: background 0.2s;
    }
    
    &::-webkit-slider-thumb:hover,
    &::-webkit-slider-thumb:active,
    &:focus::-webkit-slider-thumb {
      color: transparent; 
      background-color: transparent;
    }
  }
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

progress {
  display: block;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: center;
  border: none;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: transparent;
  }
}
