*::selection {
  // background-color: $blue1;
  // color: $white;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
  // scroll-behavior: unset;
}

/* reset user agent style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  &::before, &::after{
    box-sizing: border-box;
  }
}

body {
  user-select: text;
}

ul,
ol {
  list-style: none;
}

li {
  text-align: center;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
    background-color: transparent;
  }
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

span,
i {
  display: inline-block;
}

img {
  vertical-align: middle;
  border: 0;
}

button {
  -webkit-appearance: button;
  border: none;
  background: none;
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

input {
  border: 0;
  background-color: transparent;

  &::placeholder {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  &[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  &[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    border: 1px solid #D8D8D8;
    background-color: white;

    transition: all 0.3s;

    &:hover {
      border: 1px solid red;
    }

    &:checked {
      border: 1px solid red;
    }

    &:focus {
      outline: none;
    }
  }
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

progress {
  display: block;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: center;
  border: none;

  &::-webkit-progress-bar {
    background-color: white;
  }

  &::-webkit-progress-value {
    background-color: red;
  }
}